[phases.setup]
nixPkgs = ["nodejs_22", "npm-9_x", "openssl"]
cmds = [
  "npm install -g pnpm@latest",
  "export PATH=\"$PATH:$(npm config get prefix)/bin\"",
  "echo 'export PATH=\"$PATH:$(npm config get prefix)/bin\"' >> ~/.bashrc",
  "echo 'export PATH=\"$PATH:$(npm config get prefix)/bin\"' >> ~/.profile"
]

[phases.install]
cmds = ["bash -l -c 'pnpm install' || npx --yes pnpm install"]

[phases.build]
cmds = ["bash -l -c 'pnpm run build' || npx --yes pnpm run build"]

[start]
cmd = "node server.js"

