[phases.setup]
nixPkgs = ["nodejs_22", "npm-9_x", "openssl"]
cmds = ["npm install -g pnpm@latest"]

[phases.install]
cmds = ["npx pnpm install"]

[phases.build]
cmds = ["npx pnpm run build"]

[start]
cmd = "node server.js"

