[phases.setup]
nixPkgs = ["nodejs_22", "npm-9_x", "openssl"]
cmds = [
  "corepack enable || npm install -g pnpm@latest",
  "pnpm --version || npm install -g pnpm@latest"
]

[phases.install]
cmds = ["pnpm install"]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "node server.js"

