[variables]
PATH = "/root/.nix-profile/bin:/nix/var/nix/profiles/default/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:$(npm config get prefix)/bin"

[phases.setup]
nixPkgs = ["nodejs_22", "npm-9_x", "openssl"]
cmds = [
  "npm install -g pnpm@latest",
  "export PATH=\"$PATH:$(npm config get prefix)/bin\""
]

[phases.install]
cmds = ["npx --yes pnpm install"]

[phases.build]
cmds = ["npx --yes pnpm run build"]

[start]
cmd = "node server.js"

