[phases.setup]
nixPkgs = ["nodejs_22", "npm-9_x", "openssl"]
cmds = [
  "npm install -g pnpm@latest",
  "export PATH=\"$PATH:$(npm config get prefix)/bin\"",
  "echo 'export PATH=\"$PATH:$(npm config get prefix)/bin\"' >> /root/.bashrc"
]

[phases.install]
cmds = ["bash -c 'source /root/.bashrc && pnpm install' || npx pnpm install"]

[phases.build]
cmds = ["bash -c 'source /root/.bashrc && pnpm run build' || npx pnpm run build"]

[start]
cmd = "node server.js"

