[phases.setup]
nixPkgs = ["nodejs_22", "npm-9_x", "openssl"]

[phases.install]
cmds = [
  "corepack enable",
  "corepack prepare pnpm@latest --activate",
  "pnpm install"
]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "node server.js"

